---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Lugoj, 27 noiembrie 2024 – Doamna Cuth Maria, o persoană în vârstă de 41 de ani, originară din sat Poganesti, judetul Timis, este acuzată de implicare într-un incident de furt comis pe teritoriul Germaniei. Autoritățile locale au fost sesizate de către poliția germană, care investighează acest caz, și au emis o solicitare oficială ca aceasta să se prezinte la secția de poliție din Lugoj pentru clarificarea situației.

Incidentul ar fi avut loc într-un supermarket din Germania, unde doamna Cuth Maria a fost surprinsă de camerele de supraveghere în timp ce ar fi sustras mai multe bunuri. Reprezentanții magazinului au depus plângere împotriva acesteia, iar autoritățile germane au deschis un dosar penal pe numele ei. În urma cooperării internaționale între cele două țări, poliția din România a fost notificată să intervină.

Conform informațiilor oferite de autorități, doamna Cuth Maria este rugată să se prezinte la secția de poliție a municipiului Lugoj până la data de 28 noiembrie 2024, ora 17:00, pentru a oferi declarații și pentru a facilita investigația. Neconformarea ar putea duce la escaladarea cazului și la emiterea unui mandat internațional de arestare.

Cei care o cunosc sunt rugați să o informeze sau să contacteze de urgență autoritățile. Orice informație care ar putea ajuta la localizarea persoanei este binevenită și poate fi raportată fie la secția de poliție local
`;
---

<Layout title="Anunț Important">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Anunț privind doamna Cuth Maria</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <img src="/photo.png" alt="Fotografia doamnei Cuth Maria" class="mb-10 w-1/2 mx-auto border border-gray-200" />
    <p class="mb-8">
    </p>
</Layout>
