
---
import MainLayout from '../../layouts/MainLayout.astro';

---
<MainLayout>
  <h1>Titlul știrii principale</h1>
  <img src="/assets/featured-news.jpg" alt="Imagine știre" />
  <p>Conținut detaliat al știrii...</p>
</MainLayout>
