
---
export const { children } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site de știri</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <header>
      <h1>Site de Știri</h1>
    </header>
    <main>
      {children}
    </main>
    <footer>
      <p>&copy; 2024 Site de Știri</p>
    </footer>
  </body>
</html>
